/* scheduler styling */
    <style type="text/css">
        body {
            font-family: sans-serif;
            font-size: 13px;
        }
        
        h1 {
            font-size: 20px;
        }
        
        h3 {
            font-size: 14px;
        }

        .swp_frame{
            background-color: #ddd;
            background: #ddd;
            padding: 5px;
            border-color: #0085ba;
            border: 1px;
            margin :4px;
            color: #000000;
            display:block;
            width:99%;
        }

        .ui-state-default{
            margin-bottom: 0px !important;
        }

        #swp_starttime, #swp_endtime, #swp_person, #swp_persons, #swp_role, #swp_role_person, #swp_role_persons, #swp_activity {
            height: 34px !important;
            display:inline-block;
        }

        #swp_remove_button {
            margin-top: 3px;
            float:right;
        }

        .chosen-select{
            width:10px;
            height:34px;
        }

        .swp_scheduler_time{
            display:inline-block;
            padding:0px;
            margin:0px;
            width:17.55%;
        }
         .swp_scheduler_activity{
            min-height: 34px;
            display:inline-block;
            padding:0px;
            margin:0px;
            width:25%;
        }
             .swp_scheduler_leader{
            display:inline-block;
            padding:0px;
            margin:0px;
            width:20%;
        }
            .swp_scheduler_users{
            display:inline-block;
            padding:0px;
            margin:0px;
            width:29%;
        }
             .swp_scheduler_remove{
            display:inline-block;
            padding:0px;
            margin-top:0px !important;
            min-height: 34px;
            width:5%;
        }
        .swp_inlineblock{

        }

        .swp_add{
            margin-left: 5px;
            margin-right: 5px;
        }
    </style>