/*source: http://www.ehow.com/how_12214447_make-collapsing-lists-java.html */
/*title */
body {
margin: 0;	
}
/*Activities filter form */
.filterform {
	display: inline-block;
}

.filterformactivities {
	width:100%;
	display:block;
}


.ywaligncenter {
	width:100%;
	display:block;
	margin-left: 5%;
	margin-right: 5%;
}

.filterform-s {
	width: 100%;
	display:block;
	margin-left: 10%;
	margin-right: 10%;
}

.formdivs {
	display: inline-block;
	width:12%;
	padding-right: 1%;
	padding-left: 1%;
}


.filterfield {

}

.filterfield-qi {
	padding: 10px;
	width: 100%;
}

.ywsubmit {
	margin-left: auto;
	margin-right: auto;
	width: 100% !important;
}


/* content holder*/
.content {
       margin: 10px 10px 0px 10px;
       height:auto;
       display:block;
       width:auto;
       font-size: 14px;
}

/* activity title */
.activitywrap {
	float:left;
}

.activitytitle {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.titlebar {
    opacity: 1;
    height:50px;
    background-color:#44c767;
    width:100%;
    position:fixed;
    top:0px;
    margin:0px 0px 0px 0px;
    z-index: 10;
    font-family: Rockwell, "Courier New", Courier, Georgia,
                 Times, "Times New Roman", serif;

}

.titlebarcontent {
    width:100%;
    top:0px;
    margin:0px 10px 0px 10px;
    color:#000000;
    background-color:#000000;
}

.pagetitle {
    float:left;
    }

.navbuttons {
    padding: 2px;
    float:right;
    margin:10px 10px 10px 10px;
}

.icons {
margin-right:1%;	
}




/*add activity Button*/
.addactivity {
	margin: 10px 10px 10px 10px;
	float:right;
	background-color:#ffffff;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	border:1px solid #ffffff;
	color:#000000;
	font-family:arial;
	font-size:20px;
	padding:5px 5px 5px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1BA39C;
}
.addactivity:hover {
	background-color:#65C6BB;
		border:1px solid #65C6BB;
}
.addactivity:active {
	position:relative;
	top:1px;
}

/*Edit activity Button*/
.editactivity {
	margin: 2px;
	float:right;
	cursor:pointer;
	border:1px solid;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:15px;
	padding:2.5px 5px;
	text-shadow:0px 0px 0px #2f6627;
}


.editactivity:hover {
	border:2px solid;
	margin-bottom:5px !important;
}
.editactivity:active {
	position:relative;
	top:1px;
	margin-bottom:5px !important;
}

/*toggle button */
.toggle {
	margin: 2px;
	float:right;
	cursor:pointer;
	border:1px solid;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:15px;
	padding:2.5px 5px;
	text-shadow:0px 0px 0px #2f6627;
}

.toggle:hover {
	border:2px solid;
	margin-bottom:5px !important;
}

.toggle:active {
	position:relative;
	top:1px;
	margin-bottom:5px !important;
}

/*toggle target*/
.targetDiv {display: none}

/* delete buttons */
#delete-button {
	margin: 2px;
	float:right;
	cursor:pointer;
	border:1px solid;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:15px;
	padding:2.5px 5px;
	text-shadow:0px 0px 0px #2f6627;

}

.row .col img {
	margin-bottom: 0px !important;
	max-width: 100%;
	width: auto;
	height: auto;
}


.delete-button:hover {
	border:2px solid;
	margin-bottom:5px !important;
}
.delete-button:active {
	position:relative;
	top:1px;
	margin-bottom:5px !important;
}

.delete-button-no {
	margin: 2px;
	float:right;
	cursor:pointer;
	border:1px solid;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:15px;
	padding:2.5px 5px;
	text-shadow:0px 0px 0px #2f6627;
}

.delete-button-no:hover {
	border:2px solid;
	margin-bottom:5px !important;
}
.delete-button-no:active {
	position:relative;
	top:1px;
	margin-bottom:5px !important;
}

/* topic field */
.topicwrap {
	margin: 2px;
	float:right;
	background-color:#ffffff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:2px solid #18ab29;
	color:#000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
	padding:2.5px 5px;
	text-shadow:0px 0px 0px #2f6627;
	line-height: 150%;
}

.topictext {
    float:right;
	color:#000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
	text-shadow:0px 0px 0px #2f6627;
}

/* duration field*/
.durationwrap {
	margin: 2px;
	float:right;
	background-color:#ffffff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:2px solid #18ab29;
	color:#000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
	padding:2.5px 5px;
	text-shadow:0px 0px 0px #2f6627;
	line-height: 150%;
	
}

.durationtext {
    float:right;
	color:#000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
	text-shadow:0px 0px 0px #2f6627;
}

.durationimg {
float:right;
padding-right:3px;
}




.items {
    display:block;
    width:100%;
    }

.fieldtitle {
  display:inline;
  vertical-align: text-top;
  position:inherit;
  float: left;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.fieldcontent{
  display:inline;
  vertical-align: text-top;
  position:inherit;
  float: left;
  Margin: 0px 0px 0px 0px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  
}

.items {
	display:block;
	width:100%;
	float:left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.pinterest {
	display:block;
	width:100%;
	float:left;
}



/* insert form */
.insertform {
	text-align: center;
	display:block;
	poition:relative;
	width:100%;
	float:left;
}


.styletextbox
{
-moz-border-radius:10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
-khtml-border-radius: 10px; /* KHTML */
border-radius: 10px; /* CSS3 */
behavior:url("border-radius.htc");
padding: 3px;
float:left;
display:block;
margin-right:2%;
margin-left:20%;
position: relative;
width: 75%;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 100%;
line-height: 110%;
}

.stylealtbox
{
-moz-border-radius:10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
-khtml-border-radius: 10px; /* KHTML */
border-radius: 10px; /* CSS3 */
behavior:url("border-radius.htc");
padding: 3px;
float:left;
display:block;
margin-right:2%;
margin-left:20%;
position: relative;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 100%;
line-height: 150%;
}

.textaligntop {
vertical-align: text-top;
display:block;
position: absolute;
float:left;
padding: 3px;
-moz-border-radius:10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
-khtml-border-radius: 10px; /* KHTML */
border-radius: 10px; /* CSS3 */
margin-left: 1%;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 100%;
line-height: 150%;
}

.requiredfield {
vertical-align: text-top;
display:block;
position: absolute;
float:left;
padding: 3px;
-moz-border-radius:10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
-khtml-border-radius: 10px; /* KHTML */
border-radius: 10px; /* CSS3 */
color:red;
}

.fieldblock {
display:block;
float:left;
position:relative;
width:100%;
margin:1%;
padding:0.5%;
}

.buttonblock {
display:block;
float:left;
margin-left: 30%;
margin-right: 15%;
width:100%;
padding:0.5%;
}

.error {
color: red;
vertical-align: text-top;
display:block;
position: relative;
float:left;
padding-top:0px;
padding-bottom: 3px;
-moz-border-radius:10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
-khtml-border-radius: 10px; /* KHTML */
border-radius: 10px; /* CSS3 */
}

.saveactivity-button {
	margin: 5px;
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.saveactivity-button:hover {
	background-color:#5cbf2a;
}
.saveactivity-button:active {
	position:relative;
	top:1px;
}


.submit-return {
	margin: 5px;
	background-color:#7892c2;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.submit-return:hover {
	background-color:#476e9e;
}
.submit-return:active {
	position:relative;
	top:1px;
}

.submit-addnew {
	margin: 5px;
	background-color:#c223de;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #a30dbd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.submit-addnew:hover {
	background-color:#9b14b3;
}
.submit-addnew:active {
	position:relative;
	top:1px;
}


/* Delete dialog Box */
.deleteitem {
    margin: 0px auto 0px auto;
    height:auto !important;
    width:100%;
}
.listdelete {
	background-color:#000000;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top:0px;
	margin-bottom:0px;
	height:30px;
	display:none;
	/*position:fixed;*/
	color:#ffffff;
	padding:0px; 
}
.listbackground {
	background-color:#000000;
	padding: 0px;
	margin: 0px;
}



.inline {
display:inline;	
}

.inline-block {
display:inline-block;	
}

.delete-layer {
display:block;
width:100%;
height:auto;
}

.float-right {
float:right;	
}

.float-left {
float:left;	
}

.swp_block {
	display: block;
}

/* swp_activity_item */
#swp_item {
	padding: 20px;
	font-size: 16px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'lato', serif;

}

#swp_item a {
    color: #65C6BB;
}

#swp_header {
	width:100%;
    margin: auto;
    overflow:hidden;
    
}

#swp_header>div{
    display:inline-block;
    vertical-align:middle;
    width:49%;
    overflow:hidden;
    
}

.swp_block {
display:block;
width: 100%;
clear:left;
}

.swp_item_header {
	
}

.swp_item_print {
	
}

.r {
	font-size: 16px;
	
	margin-left: auto;
	margin-right: auto;
	font-family: 'lato', serif;
}

.topicwrap1 {
	margin: 2px;
	float:left;
	background-color:#ffffff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:2px solid #65C6BB;
	color:#000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
	padding:2.5px 5px;
	text-shadow:0px 0px 0px #2f6627;
	line-height: 150%;
}

.topictext1 {
    float:left;
	color:#000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
	text-shadow:0px 0px 0px #2f6627;
}

.durationwrap1 {

	margin: 2px;
	float:left;
	background-color:#ffffff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:2px solid #65C6BB;
	color:#000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
	padding:2.5px 5px;
	text-shadow:0px 0px 0px #2f6627;
	line-height: 150%;
	
}

.durationtext1 {
    float:left;
	color:#000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
	text-shadow:0px 0px 0px #2f6627;
}

.durationimg1 {
float:left;
padding-right:3px;
}

.swp_icon_print {
	float:right;
	margin: 2px;
	background-color:#65C6BB;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	cursor:pointer;
	border:2px solid #65C6BB;
	color:#ffffff;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:15px;
	padding:2.5px 5px;
	text-shadow:0px 0px 0px #2f6627; 
}

.swp_icon_print:hover {
	background-color:#ffffff;
	border:2px solid #65C6BB;
}

.swp_icon_print:active {
	position:relative;
	top:1px;
}

	.swp_standard_space {
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 80%;
}

#printable {display:none;}
#non-printable { display: inline;  }

@media print
{
	#non-printable { display: none;  }
	#printable { display: inline; }
	#header { display: none; }
	#comments { display: none; }
	#sidebar { display: none; }
	#footer { display: none; }
	#menu { display: none; }
	#commentform { display: none; }
	
	#swp_item {	padding: 5px;
				font-size: 12px;
				width: 98%;
				margin-left: auto;
				margin-right: auto;
				display: block;
				page-break-before: always;	}

	.swp_icon_print { display: none; }

	.swp_standard_space {
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 100%;
}
}


/* wordpress meta fields */
.sch_textarea {
width: 100%;	
}